*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    /* background-color:  hsl( 346deg,  17%,  70%); */
    background-color: #97491fc8;
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 68%;
    /* background-color: yellowgreen; */
    background-image: url(https://plus.unsplash.com/premium_photo-1675034366383-1e48cce12b8f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: top;

}
#overlay
{
    height: 100%;
    width: 100%;
    background-color: #a38e7758;
}
#part3{
    height: 100%;
    width: 8%;
    /* background-color: skyblue; */
}