*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    /* background-color:  hsl( 346deg,  17%,  70%); */
    background-color: #97491fc8;
            display: flex;
 }

#part1{
    height: 100%;
    width: 28%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 62%;
    /* background-color: yellowgreen; */
    background-image: url(https://plus.unsplash.com/premium_photo-1675034366383-1e48cce12b8f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
    background-position: top;

}
#overlay
{
    height: 100%;
    width: 100%;
    background-color: #a38e7758;
}
#part3{
    height: 100%;
    width: 10%;
    /* background-color: skyblue; */
}
#text-dev{
    /* height: 300px; */
    position: absolute;
     width: 400px;
     /* background-color: violet; */
     left: 5%;
    top: 50%;
    transform: translate(0,-50%);
 
}
#text-dev>h1{
    font-size: 70px;
     font-family: monument;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    line-height: 78px;
    letter-spacing:4px;



}


#sml-div-img{
    height: 400px;
    width: 300px;
    background-color: #fff;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translate(0,-50%);
    background-image: url(https://plus.unsplash.com/premium_photo-1665990293993-613c8b80a239?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;

}

#overlay-inn{
    height: 100%;
    width: 100%;
    background-color: #a38e7758;
}

#vertical{
    position: absolute;
     /* background-color: red; */
    transform: rotate(90deg);
    right: -7%;
    top: 35%;
    




}
#vertical>h1{
    font-size: 40px;
     font-family: monument;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
 
 }

#nav{
    height: 10%;
    width: 3%;
    /* background-color: aqua; */
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

}

#nav img{
    height: 50px;
}

#nav h5{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;

}